<div class="clear">
        <br>
        <br>
        <br>
        <br>
</div>
<footer class=" footerC mt-3 bg-dark text-center text-white ">
    
        <p> <img src="../images/icons8-copyright-64.png" alt=""> Todos os direitos reservados</p>
    
</footer>