<header >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../images/icons8-valorant-64.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""><img src="../images/icons8-menu-32.png" alt=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contato</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nossos Produtos <img src="../images/icons8-menu-32.png" alt="">
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/skins">Skins</a></li>
                <li><a class="dropdown-item disabled" href="/giftcard"> Gif-Card</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item disabled" href="#">Mentoria</a></li>
              </ul>
            </li>
          
          </ul>

          <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/Kart"><img src="../images/icons8-shopping-32.png" alt=""> Cesta de Compras</a>
            </li>

            <div class="dropdown ">
              <button class=" btn text-white" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../images/icons8-test-account-32.png" alt=""> NomeUsuario
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuUser">
                <li> <img src="../images/icons8-test-account-64.png" alt=""> NomeUsuario </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item " href="#">Historico de compras</a></li>
                <li><a class="dropdown-item" href="#">Perguntas</a></li>
                <li><a class="dropdown-item" href="/userControl">Meus dados</a></li>
                <li><a class="dropdown-item" href="#">Privacidade</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
              </ul>
            </div>



            <li>
              <a class="nav-link" href="https://www.instagram.com/">
                <img src="../images/icons8-instagram-32.png" alt="">
              </a> 
            </li>
            <li>
              <a class="nav-link" href="https://www.youtube.com/">
                <img src="../images/icons8-play-button-32.png" alt="">
              </a> 
            </li>
           </ul>
      
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Ex:Vandal" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Procurar</button>
          </form>
   
        </div>
      </div>
    </nav>
  </header>